@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<link href="~/StyleSheet.css" rel="stylesheet" />
<h2>Welcome to Async Inn's asset management system</h2>

<ul>
    <li>
        <A href="/Hotels">Click Here</A> to to add new hotel locations or manange currently existing buildings.
    </li>
    <li>
        <A href="/Rooms">Click Here</A> to add new room configurations or manage currently existing configurations.
    </li>
    <li>
        <A href="/HotelRooms">Click Here</A> to link hotel rooms to hotels.
    </li>
    <li>
        <A href="/Amenities">Click Here</A> to add or modify all available amenities.
    </li>
    <li>
        <A href="/RoomAmenities">Click Here</A> to link amenities to hotel rooms.
    </li>
</ul>



